<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Halaman Pegawai</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col group/design-root overflow-x-hidden bg-gradient-to-b from-purple-200 via-white to-purple-100" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f2f1f4] px-10 py-3">
          <div class="flex items-center gap-4 text-[#141216]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
             <h2 class="text-[#141216] text-lg font-bold leading-tight tracking-[-0.015em]">
                 <a href="{{ url_for('user_dashboard') }}" class="text-[#141216] hover:text-blue-600">
                     Employee Data System
                 </a>
             </h2>
           </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#141216] text-sm font-medium leading-normal" href="/user/ds">Dashboard</a>
              <a class="text-[#141216] text-sm font-medium leading-normal" href="/user/profil">Profil</a>
              <a class="text-[#141216] text-sm font-medium leading-normal" href="/user/setting">Pengaturan</a>
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f2f1f4] text-[#141216] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <a href="/logout" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center truncate">   Log Out</a>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuARYHqF8K_4EFtlnHSE6JsSzFlURP9fZV198lNk0a3csc8XIqF3zCSrxum3baG3ZchNovej2NQN0Hs1zroRz2cKV7F568Yb-tr2wBO5kb24TYyPhXZ4HP_6JfGVorzf17RW9ENpVvcKsgr11GxC_HJ2OMjtJj8i1xsE4e4Ud6R0f9h8Li2KO8qQsssmzQZ0EonMppurXFujLp0olgpP4HxOgyYI63c1MHIpf1bXNQE63CGRHd8yfRrE2EUm0VNPZV7ssTptaLJaCBvJ");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
                    {%block isi %}
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex p-4 @container">
              <div class="flex w-full flex-col gap-4 items-center">
                <div class="flex gap-4 flex-col items-center">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC-7OxjPkMKim8NhxI4ZIUwEp7FloGPuda0YBy4IwSSA1_YFakkg8qlTUWN_4TC-YJZx3gtvxqc0lRzgqwGvntBTyotyYQofsIW-g6qWpjmv741scYxY6b4qL6twbz_tt8Msn3JUov16JDaKzOVZ58vD47IIBcOcnIzSVqLrSL_IV9OLKBYTZQNNkvzTAwfPP4pHwoc2jp_JE5AbwFcNdlmI7QDNTuyWIQM0bI6vNvPMaNZUxQu4jA_qFkbUYvo9tL0714v_22Y026b");'
                  ></div>
                  <div class="flex flex-col items-center justify-center justify-center">
                    <p class="text-[#141216] text-[22px] font-bold leading-tight tracking-[-0.015em] text-center">Welcome to the User Profile page</p>
                    <p class="text-[#716a81] text-base font-normal leading-normal text-center">Manage your employee data</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#141216] text-base font-bold leading-tight">Riwayat Pendidikan</p>
                    <p class="text-[#716a81] text-sm font-normal leading-normal">Lihat dan edit Riwayat pendidikan </p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f2f1f4] text-[#141216] text-sm font-medium leading-normal w-fit"
                  >
                    <a href="/sejarah_pendidikan" class="truncate">Edit</a>

                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBvqPDM82BhSPOGQrikDdnlFZScUiVKVkHlBqYyvkXWzWWrE2Y11YwuYgQBt2Qb8df-rjDHxzoYFjWoRsjATFB2MvLMBzz70e6Ih9zyoT_q9mKSgvpCVhrpIFotLbpQzEQapiPb5dPLuaBPexJcC5tZfDsqtbHbZp24eXxTkaSdYGnxBxhUgAk_7XX4g0a9nYy_cY35EvsauyzMOFh29qVcFH2s_THXwu_qjkGE6L5__EvE52VGlASG2tayeOki08pyj6KGp2o5IvDa");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#141216] text-base font-bold leading-tight">Riwayat Pekerjaan</p>
                    <p class="text-[#716a81] text-sm font-normal leading-normal">Lihat dan edit Riwayat Pekerjaan</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f2f1f4] text-[#141216] text-sm font-medium leading-normal w-fit"
                  >
                    <a href="/riwayat_pekerjaan" class="truncate">Edit</a>

                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAe0vjgqaNqHrUglItpA-97Fp5Un6ZVhDqtDSfm9kkKyjP7rQCfjrMR0AF1OHjgS54fMLBkCi059eb3N1c5gxnViWSpCGLw5kodpxRcghTXh4_blSRbgrrt3hEH4_c05i__0RLgtHmWqzQzXRLP6Y1140Q2EvCMeEWHUuoaVmc7WT21d3pc924rguOVJmMipfeJRd2r0sgYNokyel--OzaQzVh06rWLZ-c-gD3e6c_IR-ElywZ4cK3uH47fKR7dvTulyx3unjaiX1W5");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#141216] text-base font-bold leading-tight">Info Keluarga</p>
                    <p class="text-[#716a81] text-sm font-normal leading-normal">Lihat dan edit info keluarga</p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f2f1f4] text-[#141216] text-sm font-medium leading-normal w-fit"
                  >
                    <a href="/info_keluarga" class="truncate">Edit</a>

                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC8N8rf-Rt9UXXoxAtjAgB5zAaXnRg1PgK8srdr1P_TZEPl9kWmgXGOActw75gL0PiCOCFgSPFWiYyU-zMhFfKpRS4d7Bv_lKP4ORZLpCV_IjLz34hzoCnrc6YFQW33xrKK9E-pmq7s_yn-YZJib7yCjZzG2r7bGoM8UCloXRx_GP02dZ5Nv77OctBS4OsxcSpoLK0GbsRNkBwj_70yBleAkG_U0ppbqZiyitnDGSKQhZPT_Pe_hU928f-4v1rS9t5mUNBqTL57c3MV");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl bg-white p-4 shadow-[0_0_4px_rgba(0,0,0,0.1)]">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                  <div class="flex flex-col gap-1">
                    <p class="text-[#141216] text-base font-bold leading-tight">Laporan Kinerja</p>
                    <p class="text-[#716a81] text-sm font-normal leading-normal">Lihat dan edit Laporan Kinerja </p>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f2f1f4] text-[#141216] text-sm font-medium leading-normal w-fit"
                  >
                    <a href="/laporan_kinerja" class="truncate">Edit</a>

                  </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB3_6fv__aTiOgeDYicJcR065KwSHrQqEQUDMh2cTShujXaKrceM1Qw64R5kCiSZzv-PygEQAo7B4Rg6icMXo52KuYZgn3vxKsPTnmcEukTeiyMre0AZRah-vWZmNDWBop1snDFBrqDKI54JXKcG6Qu-B1PjReQSvG7ehkHHmo96DNc3bXjFWBFwNmsDSxV5l2sGs7PHSEt-9OFuxv-HkgKPDozSSM7OjzXLVH52IP9mq8-71FToZ6gwQVISt2dEHsAtdWu3uOQR26K");'
                ></div>
              </div>
            </div>
          </div>
          {%endblock%}
        </div>
      </div>
    </div>
  </body>
</html>